<div class="container center col-sm-6 justify-content-center mt-4">
    <button (click)="signInWithFirstAuthMethod(email, password)"
            type="button"
            class="btn btn-primary btn-block">
        Sign In Using The First Auth Method
    </button>
    <button (click)="signOutWithFirstAuthMethod()"
            type="button"
            class="btn btn-warning btn-block">
        Sign Out Using The First Auth Method
    </button>
    <button (click)="signInWithSecondAuthMethod(email, password)"
            type="button"
            class="btn btn-primary btn-block">
        Sign In Using The Second Auth Method
    </button>
    <button (click)="signOutWithSecondMethod()"
            type="button"
            class="btn btn-warning btn-block">
        Sign Out Using The Second Auth Method
    </button>
</div>
